[Bb]in/
[Oo]bj/
[Oo]ut/

.idea/
.vs/
.vscode/
*.user
*.sln.DotSettings.user
*.DotSettings.user
_ReSharper.*/
*.[Rr]e[Ss]harper
riderModule.iml

[Tt]est[Rr]esults/

[Pp]ackages/
*.nupkg
*.snupkg

appsettings.Development.json
appsettings.*.json

.DS_Store
Thumbs.db
ehthumbs.db
